@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica.eot");
  src: url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 64px;
  display: flex;
  align-items: center;
  transition: .3s;
  justify-content: space-between; }
  .header .logo {
    display: flex;
    color: #F9F9FB;
    transition: .3s; }
    .header .logo:hover {
      opacity: .6; }
    .header .logo .logo-name {
      margin-left: 12px;
      width: 224px; }
      .header .logo .logo-name .short-name {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
        margin-bottom: 2px; }
      .header .logo .logo-name .name {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(249, 249, 251, 0.64); }
  .header .btn-menu {
    display: none; }
  .header .middle-menu {
    display: flex;
    align-items: center; }
    .header .middle-menu .search {
      background-color: transparent;
      border: 0;
      padding: 0;
      margin-right: 32px; }
  .header nav a {
    display: flex;
    align-items: center;
    padding: 0 14px;
    transition: .3s;
    white-space: nowrap;
    color: #F9F9FB; }
    .header nav a .arrow {
      transition: .3s; }
  .header nav .collapseBtn2 .collapseBreadcrumb {
    display: none; }
  .header nav .auth {
    display: flex; }
  .header nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .header nav ul > li:last-child a {
      padding-right: 0; }
    .header nav ul li {
      transition: .3s;
      position: relative;
      display: inline-block;
      /* Change this in order to change the Dropdown symbol */
      /* Display Dropdowns on Hover */
      /* Hide Dropdowns by Default */ }
      .header nav ul li > a {
        display: block;
        width: 100%;
        text-align: center; }
      @media only screen and (min-width: 992px) {
        .header nav ul li:hover .collapseBtn {
          background-color: rgba(14, 14, 27, 0.8); }
        .header nav ul li:hover .arrow {
          transform: rotate(-180deg); }
        .header nav ul li:hover > ul {
          display: inherit; } }
      .header nav ul li ul {
        display: none;
        position: absolute;
        top: 106px;
        /* the height of the main nav */
        left: 0;
        width: 400px;
        /* Fisrt Tier Dropdown */ }
        .header nav ul li ul.active {
          display: block; }
        .header nav ul li ul li {
          width: 100%;
          display: list-item;
          position: relative;
          /* Second, Third and more Tiers	*/ }
          .header nav ul li ul li ul {
            left: auto;
            right: 100%; }
            .header nav ul li ul li ul li {
              position: relative;
              top: -106px;
              background-color: rgba(14, 14, 27, 0.8); }
              .header nav ul li ul li ul li a {
                white-space: inherit; }
          @media only screen and (min-width: 992px) {
            .header nav ul li ul li:hover > a:not(:only-child) {
              color: #F9F9FB !important; }
              .header nav ul li ul li:hover > a:not(:only-child):hover {
                background-color: transparent !important;
                color: #F9F9FB !important; } }
          .header nav ul li ul li a {
            color: rgba(249, 249, 251, 0.64) !important;
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.6px;
            padding: 6px 20px; }
          .header nav ul li ul li:first-child a {
            padding-top: 20px; }
          .header nav ul li ul li:last-child a {
            padding-bottom: 20px; }
  .header nav > ul {
    display: flex;
    justify-content: space-around; }
    .header nav > ul > li a {
      font-size: 14px;
      line-height: 106px; }
    .header nav > ul > li > ul {
      background-color: rgba(14, 14, 27, 0.8); }
  .header.active, .header.active-other-pages {
    background-color: rgba(14, 14, 27, 0.8); }
    .header.active nav > ul > li > ul, .header.active-other-pages nav > ul > li > ul {
      background-color: rgba(14, 14, 27, 0.8); }
    .header.active nav ul li ul li ul li, .header.active-other-pages nav ul li ul li ul li {
      background-color: rgba(14, 14, 27, 0.8); }
    @media only screen and (min-width: 992px) {
      .header.active nav ul > li:hover .collapseBtn, .header.active-other-pages nav ul > li:hover .collapseBtn {
        background-color: transparent; } }

@media only screen and (max-width: 1198px) {
  .header {
    padding: 0 16px; } }

@media only screen and (max-width: 991px) {
  .header {
    position: fixed;
    padding: 14px 16px; }
    .header .auth a {
      padding: 10px;
      display: inline-block; }
      .header .auth a:last-child {
        margin-right: 15px; }
    .header .btn-menu {
      display: inline-block;
      border: 0;
      padding: 0;
      width: 20px;
      height: 16px;
      position: relative;
      z-index: 999999;
      background-color: transparent; }
      .header .btn-menu span {
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: .3s;
        background-color: #F9F9FB; }
        .header .btn-menu span:nth-child(1) {
          top: 0; }
        .header .btn-menu span:nth-child(2) {
          top: 0;
          bottom: 0;
          margin: auto; }
        .header .btn-menu span:nth-child(3) {
          bottom: 0; }
      .header .btn-menu.active span:nth-child(1) {
        bottom: 0;
        margin: auto;
        transform: rotate(45deg); }
      .header .btn-menu.active span:nth-child(2) {
        width: 0; }
      .header .btn-menu.active span:nth-child(3) {
        top: 0;
        margin: auto;
        transform: rotate(-45deg); }
    .header .middle-menu .search {
      margin-right: 10px; }
    .header nav {
      position: fixed;
      z-index: 99999;
      top: 86px;
      left: -100%;
      padding: 24px;
      width: 100%;
      height: calc(100% - 86px);
      overflow-y: auto;
      transition: .3s;
      background-color: #F9F9FB; }
      .header nav > ul {
        flex-direction: column; }
        .header nav > ul li {
          width: 100%; }
          .header nav > ul li a {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: .2px;
            color: #0E0E1B !important;
            padding: 10px 16px;
            text-align: left; }
          .header nav > ul li ul {
            position: static; }
            .header nav > ul li ul li:not(:last-child) {
              border: 0; }
            .header nav > ul li ul li:last-child {
              border: 0; }
              .header nav > ul li ul li:last-child a {
                padding-top: 0; }
            .header nav > ul li ul li ul li {
              width: 100%;
              position: static;
              background-color: transparent; }
              .header nav > ul li ul li ul li a {
                padding: 9px 16px; }
            .header nav > ul li ul li a {
              padding: 9px 16px;
              font-size: 12px;
              line-height: 16px;
              color: #7B7B8C !important; }
        .header nav > ul > li {
          margin-bottom: 8px; }
          .header nav > ul > li > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #EEEDF2; }
          .header nav > ul > li ul {
            background-color: transparent !important; }
      .header nav ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .header nav ul li ul {
        width: 100%; }
        .header nav ul li ul li:first-child a {
          padding-top: 16px; }
        .header nav ul li ul li:last-child a {
          padding-top: 9px;
          padding-bottom: 9px;
          padding-right: 16px; }
      .header nav.active {
        left: 0; }
      .header nav .academy {
        order: 9; }
      .header nav .structure {
        order: 10; }
      .header nav .collapseBtn > img {
        transform: rotate(90deg); }
      .header nav .collapseBtn .arrowMobile {
        transform: rotate(90deg); }
      .header nav .collapseBtn2.active {
        color: #0E0E1B !important;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #EEEDF2; }
        .header nav .collapseBtn2.active .collapseBreadcrumb {
          display: block;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          color: #7B7B8C;
          margin-bottom: 6px; }
          .header nav .collapseBtn2.active .collapseBreadcrumb img {
            transform: rotate(180deg); }
      .header nav .lists.active > li:not(.activeLink) {
        display: none; }
      .header nav .lists.active .activeLink > .collapseBtn {
        display: none; }
      .header nav .lists.active .activeLink > .collapseLinks.active > li:not(.activeSubLink) {
        display: none; }
  .header.active nav ul li ul li ul li, .header.active-other-pages nav ul li ul li ul li {
    background-color: transparent; } }

@media only screen and (max-width: 767px) {
  .header .logo .logo-name {
    display: flex;
    align-items: center;
    margin: 0 8px;
    width: auto; }
    .header .logo .logo-name .short-name {
      margin-bottom: 0; }
    .header .logo .logo-name .name {
      display: none; }
  .header nav a {
    white-space: inherit; } }

.login {
  padding-top: 106px;
  height: calc(100% - 56px);
  min-height: 670px; }
  .login .head-title {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    padding: 28px 16px;
    background-color: #EEEDF2; }
  .login .content {
    padding: 0 16px; }
  .login .form {
    width: 100%;
    max-width: 362px;
    margin: 56px auto 0;
    border: 2px solid #EEEDF2; }
    .login .form .fields {
      padding: 20px 36px;
      background-color: #EEEDF2; }
      .login .form .fields .field {
        position: relative; }
        .login .form .fields .field:not(:last-child) {
          margin-bottom: 8px; }
        .login .form .fields .field input {
          width: 100%;
          padding: 8px 28px 12px 0;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          border: 0;
          border-bottom: 2px solid #D1D0DB;
          color: #0E0E1B;
          background-color: transparent; }
          .login .form .fields .field input::placeholder {
            color: #7B7B8C; }
        .login .form .fields .field .eye {
          border: 0;
          padding: 0;
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 8px; }
      .login .form .fields .forget-password {
        color: #7B7B8C;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        padding-bottom: 4px;
        border-bottom: 1px dashed #7B7B8C; }
    .login .form .login-reg {
      padding: 16px 36px 20px;
      text-align: center; }
      .login .form .login-reg button {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        background-color: #F9F9FB;
        border: 2px solid #EEEDF2;
        padding: 10px;
        width: 100%;
        margin-bottom: 8px; }
      .login .form .login-reg a {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #7B7B8C;
        border-bottom: 1px dashed #7B7B8C; }

@media only screen and (max-width: 991px) {
  .login {
    padding-top: 86px;
    height: calc(100% - 88px); } }

@media only screen and (max-width: 767px) {
  .login {
    min-height: 600px; }
    .login .head-title {
      font-size: 30px;
      line-height: 40px;
      padding: 20px 16px; }
    .login .form {
      margin: 32px auto 0; }
      .login .form .fields {
        padding: 12px 16px 20px; }
        .login .form .fields .field input {
          padding: 8px 28px 12px 0;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px; }
        .login .form .fields .field .eye {
          border: 0;
          padding: 0;
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 8px; }
          .login .form .fields .field .eye img {
            width: 18px; }
      .login .form .login-reg {
        padding: 12px 16px; }
        .login .form .login-reg button {
          padding: 6px; } }

.partners {
  border-top: 2px solid #EEEDF2;
  padding: 20px 65px; }
  .partners img {
    min-width: 88px;
    width: 7.9vw; }
  .partners .slick-slide {
    margin-right: 30px !important; }

@media only screen and (max-width: 767px) {
  .partners {
    padding: 20px 16px; } }

.internet-shop {
  padding: 56px 64px; }
  .internet-shop .shop-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px; }
    .internet-shop .shop-head h3 {
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
      margin-bottom: 0; }
    .internet-shop .shop-head .more {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #0E0E1B;
      display: flex;
      align-items: center; }
      .internet-shop .shop-head .more img {
        margin-left: 2px;
        transition: .3s; }
      .internet-shop .shop-head .more:hover img {
        transform: translate(3px); }
  .internet-shop .shop-items {
    display: flex; }
    .internet-shop .shop-items .item {
      width: calc((100% / 4) - 2px);
      border: 2px solid #EEEDF2;
      margin: 1px; }
      .internet-shop .shop-items .item .internetShop {
        padding: 24px 36px;
        background-color: #EEEDF2; }
      .internet-shop .shop-items .item .desc {
        padding: 16px 36px; }
        .internet-shop .shop-items .item .desc .title {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px;
          margin-bottom: 4px;
          height: 40px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        .internet-shop .shop-items .item .desc .sub-title {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px; }
      .internet-shop .shop-items .item .price-basket {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .internet-shop .shop-items .item .price-basket .price {
          font-size: 24px;
          line-height: 36px;
          margin-right: 5px; }
        .internet-shop .shop-items .item .price-basket .basket {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          border: 2px solid #EEEDF2;
          padding: 6px 14px;
          background-color: transparent;
          transition: .3s; }
          .internet-shop .shop-items .item .price-basket .basket:hover {
            opacity: .6; }
          .internet-shop .shop-items .item .price-basket .basket .basket-price {
            margin-right: 6px;
            font-size: 18px;
            line-height: 28px; }
  .internet-shop .slick-slide img {
    width: 100%; }
  .internet-shop .slick-dots {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 72px); }
    .internet-shop .slick-dots li {
      width: calc(100% / 3);
      height: 3px;
      background-color: #D1D0DB;
      cursor: pointer; }
      .internet-shop .slick-dots li.slick-active {
        background-color: #0E0E1B; }
      .internet-shop .slick-dots li:not(:last-child) {
        margin-right: 2px; }
      .internet-shop .slick-dots li button {
        display: none; }

@media only screen and (max-width: 1199px) {
  .internet-shop {
    padding: 32px; }
    .internet-shop .shop-items .item .internetShop {
      padding: 20px 16px; }
    .internet-shop .shop-items .item .desc {
      padding: 12px 16px 16px; }
    .internet-shop .slick-dots {
      width: calc(100% - 32px); } }

@media only screen and (max-width: 991px) {
  .internet-shop .shop-items .item .price-basket .basket {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .internet-shop {
    padding-bottom: 48px; }
    .internet-shop .shop-head {
      padding: 0 16px; }
      .internet-shop .shop-head h3 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.8px; }
      .internet-shop .shop-head .more {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px; }
    .internet-shop .shop-items {
      flex-wrap: wrap; }
      .internet-shop .shop-items .item {
        width: calc(50% - 2px); } }

@media only screen and (max-width: 575px) {
  .internet-shop {
    padding-left: 0;
    padding-right: 0; }
    .internet-shop .shop-head {
      margin-bottom: 20px; }
    .internet-shop .shop-items .item .desc .title {
      height: 32px; }
    .internet-shop .shop-items .item .desc .title, .internet-shop .shop-items .item .desc .sub-title {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.6px; } }

.features {
  display: flex;
  flex-wrap: wrap; }
  .features .link-1 {
    background-image: url(../assets/img/img1.jpg); }
  .features .link-2 {
    background-image: url(../assets/img/img2.jpg); }
  .features .link-3 {
    background-image: url(../assets/img/img3.jpg); }
  .features .link-4 {
    background-image: url(../assets/img/img4.jpg); }
  .features .link-5 {
    background-image: url(../assets/img/img5.jpg); }
  .features .link-6 {
    background-image: url(../assets/img/img6.jpg); }
  .features .link {
    height: 360px;
    width: calc(100% / 3);
    color: rgba(249, 249, 251, 0.64);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .features .link:hover {
      padding: 50px 60px; }
    .features .link .num {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      padding-top: 16px;
      border-top: 1px solid rgba(249, 249, 251, 0.64); }
    .features .link .title {
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px; }

@media only screen and (max-width: 991px) {
  .features .link {
    width: 50%; } }

@media only screen and (max-width: 767px) {
  .features .link {
    padding: 32px 16px;
    height: 240px; }
    .features .link:hover {
      padding: 28px 12px; }
    .features .link .num {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.6px; }
    .features .link .title {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.8px; } }

.page-head {
  min-height: 100%; }
  .page-head .container {
    max-width: 1205px; }
  .page-head .carousel {
    min-height: 100vh; }
    .page-head .carousel .slick-list {
      min-height: 100vh;
      padding: 0 !important; }
      .page-head .carousel .slick-list .slick-track {
        min-height: 100vh; }
        .page-head .carousel .slick-list .slick-track .slick-slide {
          position: relative;
          min-height: 100vh;
          background-color: rgba(0, 0, 0, 0.3); }
          .page-head .carousel .slick-list .slick-track .slick-slide .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -9; }
  .page-head .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    height: 35px;
    margin: auto;
    z-index: 99;
    background-color: transparent; }
    .page-head .slick-arrow.btn-next {
      right: 60px;
      color: #EBEBEB;
      font-size: 35px;
      opacity: .7; }
    .page-head .slick-arrow.btn-prev {
      left: 60px;
      color: #EBEBEB;
      font-size: 35px;
      opacity: .7; }
  .page-head .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    margin: auto;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center; }
    .page-head .slick-dots li {
      width: 7px;
      height: 7px;
      transition: .3s;
      cursor: pointer;
      border-radius: 50%;
      position: relative;
      background-color: rgba(249, 249, 251, 0.64); }
      .page-head .slick-dots li:not(:last-child) {
        margin-right: 24px; }
      .page-head .slick-dots li.slick-active {
        background-color: #F9F9FB; }
        .page-head .slick-dots li.slick-active:after {
          content: '';
          width: 15px;
          height: 15px;
          border: 1px solid #F9F9FB;
          position: absolute;
          left: -4px;
          top: -4px;
          border-radius: 50%; }
    .page-head .slick-dots button {
      display: none; }

@media only screen and (max-width: 1299px) {
  .page-head .slick-arrow.btn-prev {
    left: 30px; }
  .page-head .slick-arrow.btn-next {
    right: 30px; } }

@media only screen and (max-width: 767px) {
  .page-head .carousel .slick-list .slick-track .slick-slide .img {
    object-position: 75%; } }

html, body {
  height: 100%;
  font-size: 16px;
  color: #0E0E1B;
  background-color: #F9F9FB;
  font-family: Helvetica, sans-serif;
  font-weight: normal; }

a, button {
  text-decoration: none;
  transition: .3s; }
  a:hover, button:hover {
    opacity: .7;
    text-decoration: none; }

button:focus, input:focus, .form-control:focus, .btn:focus {
  outline: none;
  box-shadow: none; }

@media only screen and (min-width: 992px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px; }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555; } }

.footer {
  padding: 12px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0E0E1B; }
  .footer .copyright {
    font-size: 12px;
    color: #F9F9FB;
    line-height: 16px;
    letter-spacing: 0.6px;
    max-width: 525px;
    width: 100%;
    margin-right: 15px; }
  .footer .social-media {
    display: flex; }
    .footer .social-media a:not(:last-child) {
      margin-right: 16px; }

@media only screen and (max-width: 991px) {
  .footer {
    padding: 24px 16px 32px; } }

@media only screen and (max-width: 575px) {
  .footer {
    flex-direction: column; }
    .footer .copyright {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.8px;
      margin-right: 0;
      order: 1; }
    .footer .social-media {
      order: 0;
      margin-bottom: 14px; } }
