@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica.eot");
  src: url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0 64px;
  display: flex;
  align-items: center;
  transition: .3s;
  justify-content: space-between; }
  .header .logo {
    display: flex;
    color: #F9F9FB;
    transition: .3s; }
    .header .logo:hover {
      opacity: .6; }
    .header .logo .logo-name {
      margin-left: 12px;
      width: 224px; }
      .header .logo .logo-name .short-name {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
        margin-bottom: 2px; }
      .header .logo .logo-name .name {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(249, 249, 251, 0.64); }
  .header .btn-menu {
    display: none; }
  .header .middle-menu {
    display: flex;
    align-items: center; }
    .header .middle-menu .search {
      background-color: transparent;
      border: 0;
      padding: 0;
      margin-right: 32px; }
  .header nav a {
    display: flex;
    align-items: center;
    padding: 0 14px;
    transition: .3s;
    white-space: nowrap;
    color: #F9F9FB; }
    .header nav a .arrow {
      transition: .3s; }
  .header nav .collapseBtn2 .collapseBreadcrumb {
    display: none; }
  .header nav .auth {
    display: flex; }
  .header nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .header nav ul > li:last-child a {
      padding-right: 0; }
    .header nav ul li {
      transition: .3s;
      position: relative;
      display: inline-block;
      /* Change this in order to change the Dropdown symbol */
      /* Display Dropdowns on Hover */
      /* Hide Dropdowns by Default */ }
      .header nav ul li > a {
        display: block;
        width: 100%;
        text-align: center; }
      @media only screen and (min-width: 992px) {
        .header nav ul li:hover .collapseBtn {
          background-color: rgba(14, 14, 27, 0.8); }
        .header nav ul li:hover .arrow {
          transform: rotate(-180deg); }
        .header nav ul li:hover > ul {
          display: inherit; } }
      .header nav ul li ul {
        display: none;
        position: absolute;
        top: 106px;
        /* the height of the main nav */
        left: 0;
        width: 400px;
        /* Fisrt Tier Dropdown */ }
        .header nav ul li ul.active {
          display: block; }
        .header nav ul li ul li {
          width: 100%;
          display: list-item;
          position: relative;
          /* Second, Third and more Tiers	*/ }
          .header nav ul li ul li ul {
            left: auto;
            right: 100%; }
            .header nav ul li ul li ul li {
              position: relative;
              top: -106px;
              background-color: rgba(14, 14, 27, 0.8); }
              .header nav ul li ul li ul li a {
                white-space: inherit; }
          @media only screen and (min-width: 992px) {
            .header nav ul li ul li:hover > a:not(:only-child) {
              color: #F9F9FB !important; }
              .header nav ul li ul li:hover > a:not(:only-child):hover {
                background-color: transparent !important;
                color: #F9F9FB !important; } }
          .header nav ul li ul li a {
            color: rgba(249, 249, 251, 0.64) !important;
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.6px;
            padding: 6px 20px; }
          .header nav ul li ul li:first-child a {
            padding-top: 20px; }
          .header nav ul li ul li:last-child a {
            padding-bottom: 20px; }
  .header nav > ul {
    display: flex;
    justify-content: space-around; }
    .header nav > ul > li a {
      font-size: 14px;
      line-height: 106px; }
    .header nav > ul > li > ul {
      background-color: rgba(14, 14, 27, 0.8); }
  .header.active {
    background-color: rgba(14, 14, 27, 0.8); }
    .header.active nav > ul > li > ul {
      background-color: rgba(14, 14, 27, 0.8); }
    .header.active nav ul li ul li ul li {
      background-color: rgba(14, 14, 27, 0.8); }
    @media only screen and (min-width: 992px) {
      .header.active nav ul > li:hover .collapseBtn {
        background-color: transparent; } }

@media only screen and (max-width: 1198px) {
  .header {
    padding: 0 16px; } }

@media only screen and (max-width: 991px) {
  .header {
    position: fixed;
    padding: 14px 16px; }
    .header .auth a {
      padding: 10px;
      display: inline-block; }
      .header .auth a:last-child {
        margin-right: 15px; }
    .header .btn-menu {
      display: inline-block;
      border: 0;
      padding: 0;
      width: 20px;
      height: 16px;
      position: relative;
      z-index: 999999;
      background-color: transparent; }
      .header .btn-menu span {
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: .3s;
        background-color: #F9F9FB; }
        .header .btn-menu span:nth-child(1) {
          top: 0; }
        .header .btn-menu span:nth-child(2) {
          top: 0;
          bottom: 0;
          margin: auto; }
        .header .btn-menu span:nth-child(3) {
          bottom: 0; }
      .header .btn-menu.active span:nth-child(1) {
        bottom: 0;
        margin: auto;
        transform: rotate(45deg); }
      .header .btn-menu.active span:nth-child(2) {
        width: 0; }
      .header .btn-menu.active span:nth-child(3) {
        top: 0;
        margin: auto;
        transform: rotate(-45deg); }
    .header .middle-menu .search {
      margin-right: 10px; }
    .header nav {
      position: fixed;
      z-index: 99999;
      top: 86px;
      left: -100%;
      padding: 24px;
      width: 100%;
      height: calc(100% - 86px);
      overflow-y: auto;
      transition: .3s;
      background-color: #F9F9FB; }
      .header nav > ul {
        flex-direction: column; }
        .header nav > ul li {
          width: 100%; }
          .header nav > ul li a {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: .2px;
            color: #0E0E1B !important;
            padding: 10px 16px;
            text-align: left; }
          .header nav > ul li ul {
            position: static; }
            .header nav > ul li ul li:not(:last-child) {
              border: 0; }
            .header nav > ul li ul li:last-child {
              border: 0; }
              .header nav > ul li ul li:last-child a {
                padding-top: 0; }
            .header nav > ul li ul li ul li {
              width: 100%;
              position: static;
              background-color: transparent; }
              .header nav > ul li ul li ul li a {
                padding: 9px 16px; }
            .header nav > ul li ul li a {
              padding: 9px 16px;
              font-size: 12px;
              line-height: 16px;
              color: #7B7B8C !important; }
        .header nav > ul > li {
          margin-bottom: 8px; }
          .header nav > ul > li > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #EEEDF2; }
          .header nav > ul > li ul {
            background-color: transparent !important; }
      .header nav ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .header nav ul li ul {
        width: 100%; }
        .header nav ul li ul li:first-child a {
          padding-top: 16px; }
        .header nav ul li ul li:last-child a {
          padding-top: 9px;
          padding-bottom: 9px;
          padding-right: 16px; }
      .header nav.active {
        left: 0; }
      .header nav .academy {
        order: 9; }
      .header nav .structure {
        order: 10; }
      .header nav .collapseBtn > img {
        transform: rotate(90deg); }
      .header nav .collapseBtn .arrowMobile {
        transform: rotate(90deg); }
      .header nav .collapseBtn2.active {
        color: #0E0E1B !important;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #EEEDF2; }
        .header nav .collapseBtn2.active .collapseBreadcrumb {
          display: block;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          color: #7B7B8C;
          margin-bottom: 6px; }
          .header nav .collapseBtn2.active .collapseBreadcrumb img {
            transform: rotate(180deg); }
      .header nav .lists.active > li:not(.activeLink) {
        display: none; }
      .header nav .lists.active .activeLink > .collapseBtn {
        display: none; }
      .header nav .lists.active .activeLink > .collapseLinks.active > li:not(.activeSubLink) {
        display: none; }
  .header.active nav ul li ul li ul li {
    background-color: transparent; } }

@media only screen and (max-width: 767px) {
  .header .logo .logo-name {
    display: flex;
    align-items: center;
    margin: 0 8px;
    width: auto; }
    .header .logo .logo-name .short-name {
      margin-bottom: 0; }
    .header .logo .logo-name .name {
      display: none; }
  .header nav a {
    white-space: inherit; } }

.page-head {
  min-height: 100%; }
  .page-head .container {
    max-width: 1205px; }
  .page-head .carousel {
    min-height: 100vh; }
    .page-head .carousel .slick-list {
      min-height: 100vh;
      padding: 0 !important; }
      .page-head .carousel .slick-list .slick-track {
        min-height: 100vh; }
        .page-head .carousel .slick-list .slick-track .slick-slide {
          position: relative;
          min-height: 100vh;
          background-color: rgba(0, 0, 0, 0.3); }
          .page-head .carousel .slick-list .slick-track .slick-slide .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -9; }

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
  height: 35px;
  margin: auto;
  z-index: 99;
  background-color: transparent; }
  .slick-arrow.btn-next {
    right: 60px;
    color: #EBEBEB;
    font-size: 35px;
    opacity: .7; }
  .slick-arrow.btn-prev {
    left: 60px;
    color: #EBEBEB;
    font-size: 35px;
    opacity: .7; }

.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  margin: auto;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center; }
  .slick-dots li {
    width: 7px;
    height: 7px;
    transition: .3s;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    background-color: rgba(249, 249, 251, 0.64); }
    .slick-dots li:not(:last-child) {
      margin-right: 24px; }
    .slick-dots li.slick-active {
      background-color: #F9F9FB; }
      .slick-dots li.slick-active:after {
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #F9F9FB;
        position: absolute;
        left: -4px;
        top: -4px;
        border-radius: 50%; }
  .slick-dots button {
    display: none; }

@media only screen and (max-width: 1299px) {
  .slick-arrow.btn-prev {
    left: 30px; }
  .slick-arrow.btn-next {
    right: 30px; } }

@media only screen and (max-width: 767px) {
  .page-head .carousel .slick-list .slick-track .slick-slide .img {
    object-position: 75%; } }

html, body {
  height: 100%;
  font-size: 16px;
  color: #0E0E1B;
  background-color: #F9F9FB;
  font-family: Helvetica, sans-serif;
  font-weight: normal; }

a {
  text-decoration: none;
  transition: .3s; }
  a:hover {
    opacity: .8;
    text-decoration: none; }

button:focus, input:focus, .form-control:focus, .btn:focus {
  outline: none;
  box-shadow: none; }

@media only screen and (min-width: 992px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px; }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555; } }
