.basket-main {
  padding: 56px 64px 80px;
  display: flex;
  align-items: flex-start;

  .l-block {
    width: 65%;
    margin-right: 32px;

    .l-block-wrapper {
      width: 100%;
      display: flex;
      border: 2px solid #EEEDF2;
      margin-bottom: 24px;

      .img {
        padding: 16px 32px;
        background: #EEEDF2;
        min-width: 130px;

        img {
          width: 100%;
        }
      }

      .info {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        width: calc(100% - 130px);

        .i-l {
          margin-right: 4px;

          h3 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: .4px;
            margin-bottom: 4px;
          }

          h4 {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: .6px;
            margin-bottom: 28px;
          }

          .delete-item {
            background-color: transparent;
            border: 0;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: .4px;
            color: #7B7B8C;

            img {
              margin-right: 8px;
            }
          }
        }

        .i-r {
          .price {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 30px;
            text-align: right;
            white-space: nowrap;
          }

          .counter {
            border: 2px solid #EEEDF2;
            display: flex;
            align-items: center;

            span {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: .2px;
              margin: 0 25px;
            }

            button {
              font-size: 24px;
              line-height: 0;
              width: 20px;
              height: 20px;
              padding: 0;
              border: 0;
              display: flex;
              margin: 4px;
              align-items: center;
              justify-content: center;
              background-color: transparent;

            }

            .dec {
              color: #7B7B8C;
            }
          }
        }
      }
    }
  }

  .r-block {
    width: 35%;
    border: 2px solid #EEEDF2;

    .r-wrapper {
      padding: 24px;

      .bh-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        span {
          &:first-child {
            font-size: 24px;
            line-height: 36px;
          }

          &:last-child {
            font-size: 32px;
            line-height: 40px;
          }
        }
      }

      .ph-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;

        span {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: .4px;
          color: #7B7B8C;
        }
      }

      .pay {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid #EEEDF2;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .2px;
        margin-top: 18px;
      }
    }

    .r-footer {
      background: #EEEDF2;
      padding: 16px 24px;

      h5 {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
        margin-bottom: 8px;
      }

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .basket-main {
    padding: 32px;
  }
}

@media only screen and (max-width: 991px) {
  .basket-main {
    flex-direction: column;

    .l-block {
      margin-right: 0;
      margin-bottom: 14px;
      width: 100%;
    }

    .r-block {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .basket-main .l-block .l-block-wrapper {
    .info {
      width: 100%;
      padding: 16px;

      .i-l {
        h3 {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: .6px;
          margin-bottom: 6px;
        }

        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-bottom: 16px;
        }

        .delete-item {
          font-size: 12px;
          line-height: 16px;
        }
      }

      .i-r {
        .price {
          font-size: 18px;
          line-height: 28px;
        }

        .counter {
          button {
            font-size: 20px;
            line-height: 1;
          }

          span {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .img {
      padding: 28px 16px;
      min-width: auto;
    }
  }
}

@media only screen and (max-width: 575px) {
  .basket-main {
    padding: 32px 16px;

    .l-block .l-block-wrapper {
      .img {
        width: 100px;
        display: flex;
        align-items: center;
      }

      .info {
        flex-direction: column;
        width: calc(100% - 100px);

        .i-l {
          order: 1;

          .delete-item {
            margin-left: auto;
          }
        }

        .i-r {
          order: 0;
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;

          .price {
            margin-bottom: 0;
            margin-right: 4px;
          }

          .counter span {
            margin: 0 10px;
          }
        }
      }
    }

    .r-block {
      width: calc(100% + 32px);
      margin-left: -16px;

      .r-wrapper {
        padding: 24px 16px;

        .bh-row {
          span {
            &:first-child {
              font-size: 24px;
              line-height: 36px;
            }

            &:last-child {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }

        .ph-row span {
          font-size: 14px;
          line-height: 20px;
        }
      }

      .r-footer {
        padding: 16px;
      }
    }
  }
}