@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica/Helvetica-Regular.eot');
  src: url('../fonts/Helvetica/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica/Helvetica-Regular.woff2') format('woff2'),
  url('../fonts/Helvetica/Helvetica-Regular.woff') format('woff'),
  url('../fonts/Helvetica/Helvetica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
