@import "variables";

.personal-account {
  padding: 56px 64px 0;

  .content {
    display: flex;

    .avatar-info {
      max-width: 364px;
      width: 100%;
      margin-right: 32px;
      border: 2px solid #EEEDF2;

      .wrapper-top {
        padding: 24px;
        background-color: #EEEDF2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .user-info {
          position: relative;
          width: 88px;
          margin-bottom: 16px;

          .pf-photo {
            background-image: url('../assets/img/photo.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 88px;
            height: 88px;
            border-radius: 100px;
          }

          .photo-file {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            cursor: pointer;
          }
        }

        .field-name {
          .title {
            margin-bottom: 2px;
          }

          .changeable {
            margin-left: 48px;
          }
        }
      }

      .wrapper-bottom {
        padding: 16px 36px;

        .save {
          padding: 8px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: .2px;
          width: 100%;
          text-align: center;
          background: #EEEDF2;
          border: 0;
          color: $primary;
          margin-top: 8px;
        }
      }
    }

    .stories {
      padding: 32px 36px;
      border: 2px solid #EEEDF2;
      max-width: 460px;
      width: 100%;
    }
  }

  .log-out {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    color: $primary;
    padding: 10px 30px;
    border: 2px solid #EEEDF2;
    background-color: transparent;
    margin-top: 32px;
  }

  .story-info {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      h3 {
        margin-bottom: 0;
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
      }

      a {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .2px;
        color: $primary;
        display: flex;
        align-items: center;

        img {
          margin-left: 2px;
        }
      }
    }

    .items {
      display: flex;

      .img {
        min-height: 104px;
        border-left: 1px solid transparent;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .count {
        width: 67px;
        background: #EEEDF2;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .field-name {
    margin-bottom: 12px;

    .title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      color: #7B7B8C;
    }

    .changeable {
      display: flex;

      input {
        border: 0;
        background: transparent;
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
        margin-right: 6px;
        width: 130px;

        &:disabled {
          background: transparent;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: .5px;
          margin-right: 6px;
          width: 130px;
        }

        &::placeholder {
          font-size: 18px;
          line-height: 24px;
          color: $primary;
        }
      }

      .change-info {
        border: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .personal-account {
    padding: 32px 32px 0;

    .content {
      flex-direction: column;

      .avatar-info {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .personal-account {
    padding: 32px 16px 0;

    .log-out {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .2px;
      margin-top: 20px;
    }

    .content {
      .avatar-info {
        max-width: 100%;

        .wrapper-top {
          padding: 24px;

          .user-info {
            width: 80px;
            margin-bottom: 12px;

            .pf-photo {
              width: 80px;
              height: 80px;
            }
          }

          .field-name .changeable {
            margin-left: 60px;
          }
        }

        .wrapper-bottom {
          padding: 12px 16px 16px;
        }
      }

      .stories {
        max-width: 100%;
        padding: 16px;
      }
    }

    .story-info {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .head {
        h3 {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: .6px;
        }

        a {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .field-name {
      .title {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .6px;
      }

      .changeable input {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.6px;

        &::placeholder {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.6px;
        }
      }
    }
  }
}