@import "variables";

html, body {
  height: 100%;
  font-size: 16px;
  color: $primary;
  background-color: $white;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

a, button {
  text-decoration: none;
  transition: .3s;

  &:hover {
    opacity: .7;
    text-decoration: none;
  }
}

button, input, .form-control, .btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media only screen and (min-width: 992px) {
  //---Start ScrollBar Styles
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }

  //---End ScrollBar Styles
}

.b-tab {
  display: none;
}

.b-tab.active {
  display: block;
}

.page-head-title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  padding: 28px 64px;
  background-color: #EEEDF2;
  margin-top: 106px;

  .title-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;

    span, a {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      color: #7B7B8C;
    }

    img {
      margin-left: 2px;
      margin-right: 6px;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 12px;
  }

  .reviews {
    font-size: 12px;
    line-height: 16px;
    color: #7B7B8C;
    letter-spacing: .6px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #7B7B8C;
  }

  .tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    .b-nav-tab {
      color: $primary;
      padding: 8px 20px;
      letter-spacing: 0.5px;

      &.active {
        background-color: #F9F9FB;
      }
    }
  }
}

.internet-shop {
  padding: 56px 64px;

  &.alone {
    padding-bottom: 16px;
    padding-top: 16px;

    &:first-child {
      margin-top: 40px;
    }
  }

  .shop-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;

    h3 {
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
      margin-bottom: 0;
    }

    .more {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $primary;
      display: flex;
      align-items: center;

      img {
        margin-left: 2px;
        transition: .3s;
      }

      &:hover {
        img {
          transform: translate(3px);
        }
      }
    }
  }

  .shop-items {
    display: flex;

    .item {
      width: calc((100% / 4) - 2px);
      border: 2px solid #EEEDF2;
      margin: 1px;

      .internetShop {
        padding: 24px 36px;
        background-color: #EEEDF2;
      }

      .desc {
        padding: 16px 36px;

        .title {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px;
          margin-bottom: 4px;

          height: 40px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .sub-title {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
        }

        .sub-desc {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.6px;
          color: #7B7B8C;

          height: 48px;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .price-basket {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .price {
          font-size: 24px;
          line-height: 36px;
          margin-right: 5px;
        }

        .basket {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          border: 2px solid #EEEDF2;
          padding: 6px 14px;
          background-color: transparent;
          transition: .3s;

          &:hover {
            opacity: .6;
          }

          .basket-price {
            margin-right: 6px;
            font-size: 18px;
            line-height: 28px;
          }
        }

        a.basket {
          width: 100%;
          color: $primary;
          text-align: center;
        }
      }
    }
  }

  .product-card-info {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .c-wrapper {
      display: flex;

      .pc-1 {
        margin-right: 32px;
        width: 67px;

        .slick-slide {
          cursor: pointer;
          opacity: .3;
          width: 67px;
          height: 106px;

          img {
            height: 100%;
            object-fit: cover;
            object-position: top;
          }

          &.slick-current {
            opacity: 1;
          }
        }
      }

      .pc-2 {
        width: 362px;
        height: 530px;
        margin-right: 32px;

        .slick-slide {
          height: 530px;
          width: 362px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }

    .r-b {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .p-info {
        margin-right: 32px;
        width: 100%;
        max-width: 434px;

        .head {
          font-family: 'Playfair Display', sans-serif;
          margin-bottom: 16px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.5px;
        }

        .info {
          white-space: nowrap;
          margin-bottom: 32px;

          .r {
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: .4px;


            span {
              font-size: 14px;
              line-height: 20px;
              letter-spacing: .4px;
              color: #7B7B8C;
            }
          }
        }

        .desc-info {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: .2px;
          height: 96px;
          -webkit-line-clamp: 4;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 12px;

          &.active {
            overflow: auto;
            height: auto;
            display: inline-block;
          }
        }

        .see-more {
          padding-bottom: 6px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.4px;
          color: #7B7B8C;
          border-bottom: 1px dashed #7B7B8C;
        }
      }

      .p-money-info {
        border: 2px solid #EEEDF2;
        padding: 20px 24px;
        min-width: 264px;
        display: flex;
        flex-direction: column;

        .inStock {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: .2px;
          margin-bottom: 2px;
        }

        .price {
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 16px;
        }

        .bt {
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.2px;
          padding: 8px;
          width: 100%;
          border: 2px solid #EEEDF2;
          background-color: transparent;
        }
      }
    }
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-dots {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 72px);

    li {
      width: calc(100% / 3);
      height: 3px;
      background-color: #D1D0DB;
      cursor: pointer;

      &.slick-active {
        background-color: $primary;
      }

      &:not(:last-child) {
        margin-right: 2px;
      }

      button {
        display: none;
      }
    }
  }
}

.reviews-block {
  padding: 0 64px;
  margin-bottom: 80px;


  h3 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    margin-right: 10px;
    width: 50%;
  }

  .item {
    margin-bottom: 24px;

    .review-head {
      padding: 16px 32px;
      background: #EEEDF2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2px;

      h4 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .2px;
        margin-bottom: 0;
        font-weight: bold;
      }

      .r-block {
        display: flex;
        align-items: center;

        .date {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: .4px;
          color: #7B7B8C;
          margin-right: 16px;
        }

        .stars {
          font-size: 19px;
          display: flex;

          .passive {
            color: #D1D0DB;
          }
        }
      }
    }

    .desc {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      padding: 20px 32px;
      background: #EEEDF2;
    }
  }

  .more {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .2px;
    padding: 16px;
    background-color: transparent;
    border: 2px solid #EEEDF2;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1299px) {
  .internet-shop .shop-items .item .price-basket .price {
    font-size: 20px;
  }

  .internet-shop .product-card-info .r-b {
    flex-direction: column;

    .p-info {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }

}

@media only screen and (max-width: 1199px) {
  .internet-shop {
    padding: 32px;

    .shop-items .item {
      .internetShop {
        padding: 20px 16px;
      }

      .desc {
        padding: 12px 16px 16px;
      }
    }

    .slick-dots {
      width: calc(100% - 32px);
    }
  }
  .reviews-block {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 991px) {
  .internet-shop .shop-items .item .price-basket .basket {
    width: 100%;
  }

  .page-head-title {
    margin-top: 86px;
    padding: 28px 32px;
  }

  .internet-shop .product-card-info {
    flex-direction: column;

    .c-wrapper {
      margin-bottom: 32px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-head-title .tabs {
    font-size: 14px;
    line-height: 18px;
  }

  .internet-shop {
    padding-bottom: 48px;

    .shop-head {
      padding: 0 16px;

      h3 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.8px;
      }

      .more {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
      }
    }

    .shop-items {
      flex-wrap: wrap;

      .item {
        width: calc(50% - 2px);

        &.item-card {
          padding: 0 16px;
        }
      }
    }
  }

  .reviews-block {
    padding: 0 16px;

    h3 {
      font-size: 24px;
      line-height: 36px;
    }

    .item {
      .review-head {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 16px;

        h4 {
          font-size: 14px;
          line-height: 20px;
        }

        .r-block {
          width: 100%;
          justify-content: space-between;

          .date {
            font-size: 12px;
            line-height: 16px;
            order: 1;
            margin-right: 0;
          }

          .stars {
            order: 0;
          }
        }
      }

      .desc {
        font-size: 14px;
        line-height: 20px;
        padding: 12px 16px;
      }
    }

    .more {
      font-size: 14px;
      line-height: 20px;
      padding: 12px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .internet-shop {
    padding-left: 0;
    padding-right: 0;

    .shop-head {
      margin-bottom: 20px;
    }

    .shop-items .item .desc {
      .title {
        height: 32px;
      }

      .title, .sub-title {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
      }

      .sub-desc {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: .8px;
        height: 42px;
      }
    }
  }

  .page-head-title {
    padding: 20px 16px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;

    .title-breadcrumb {
      span, a {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .6px;
      }

      img {
        margin-right: 4px;
      }
    }
  }

  .internet-shop .product-card-info {
    .r-b .p-money-info {
      padding: 12px;
      min-width: auto;
      width: 100%;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      .bt {
        font-size: 14px;
        line-height: 20px;
        width: auto;
      }

      .price {
        margin-bottom: 0;
      }
    }

    .c-wrapper {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 24px;

      .pc-1 {
        display: none;
      }

      .pc-2 {
        height: 408px;
        width: 300px;
        margin-right: 0;

        .slick-slide {
          height: 408px;
          width: 300px;
        }
      }

      .slick-dots {
        bottom: -24px;
      }
    }
  }

}